/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/*===================Encabezado contacto==========================*/
.cel-info{
    background-color: rgb(95, 93, 97);
    display: flex;
    justify-content: center;
}

.text-contacto{   
    color: rgb(238, 235, 240);
    margin-bottom: 0%;
    padding: 0.6em;
    font-size: 1.2rem;  
}

/*-------------------menu-----------------*/
.empresa-texto{             /* maquitools*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(68, 67, 67);
    font-size: 2rem;
    font-weight: bold;
}

#menu a:hover{   /*cambia de color cantactame aqui*/
    color: rgb(104, 7, 9);
}

#menu a{              /* inicio nosotros srvicios contacto */
    font-size:18px;
    font-weight: bold;
    color:#3f3f3f;
}

/*------------slider imagenes------------------------*/

.carousel-inner {
    max-height:42rem;

}

/*-----------introduccion servicios-------------*/
.texto-servicios{
    padding-top:1.1cm;
    width: 50%;
    margin: auto;
    text-align: center;
}

.texto-lema{
    color:rgb(68, 67, 67);
    padding: 0.4em;
    font-size: 2.8rem;
    font-weight: bold;
    border-bottom: thick double #32a1ce;
    
}

.texto-parrafo{
    padding: .4em;
    font-size: 1.3rem;

}

#text-logo{

    color:rgb(68, 67, 67);
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*-----------------servicios-------------------*/

.col-md{
display: flex;
justify-content: start;


}
.row{
    width: 75%;
    margin: 3% 16%;
}


.parrafo-servicios{
    padding-top: 50px;
    padding-right: 10px;
    margin: 1% auto;
    font-size: 1.3rem;
}

#parrafo-tratamientos{
    font-size: 0.8rem;
    text-align: justify;

}

/*-- ACERCA DE NOSOTROS*/

.acerca-nosotros{
    
    width: 50%;
    margin: auto;
    text-align: justify;
    
}

.empresa-nosotros{
    
    margin-bottom: 2%;
    padding: 1.1em;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: thick double #32a1ce;
}

.empresa-descripcion{
    color:rgb(68, 67, 67);
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.parrafo-nosotros{
    padding-top:1cm;
    font-size: 1rem;
}

.parrafo-cnc{
    color:rgb(84, 8, 8);
    font-size: 1rem;
    font-weight: bold;
}

/*------------------galeria imagenes--------------------------*/

#galeria{
    padding-top:0.5cm;
}

.titulo-imagenes{
    padding-top:1.2cm;
    width: 50%;
    margin: auto;
    text-align: center;
    color:rgb(68, 67, 67);
    padding: 1.3em;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: thick double #32a1ce;
}

.imagenes-galeria{
    
    padding-top:1cm;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    overflow: hidden;
    justify-content: center;
      
}

.alinear-imagenes{
    
    padding-top: 0;
    width: 350px;
    height: 170px;
    margin:0 5px;
    vertical-align: top;
    object-fit: cover;
    border: 5px solid rgb(84, 82, 82);     
}

/*------------------contacto-----------------------*/

#contacto{
    padding-top:1.1cm;

}
.contacto-empresa{
    padding-top:3cm;
    width: 50%;
    margin: auto;
    text-align: center;
    color:rgb(68, 67, 67);
    padding: 1.2em;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: thick double #32a1ce;

}

.parrafo-contacto{
    padding:3% 5%;
    width: 50%;
    margin: auto;
    text-align: justify;
}


.direccion{
    padding:0.2% 5%;
    width: 50%;
    margin: auto;
    font-weight: bold;
    text-align: justify;

}

.telefono{
    padding:0.2% 5%;
    width: 50%;
    margin: auto;
    font-weight: bold;
    text-align: justify;

}

#telefono-1{
    text-decoration: none;
}


.telefono a:hover{   /*cambia de color cantactame aqui*/
    color: rgb(104, 7, 9);
}

.correo{
    padding:0.2% 5%;
    width: 50%;
    margin: auto;
    font-weight: bold;
    text-align: justify;
}

#correo-1{
    text-decoration: none;
}

.correo a:hover{   /*cambia de color cantactame aqui*/
    color: rgb(104, 7, 9);
}

.linkedin{
    padding:0.2% 5% 5%;
    width: 50%;
    margin: auto;
    font-weight: bold;
    text-align: justify;
}

#linkedin-1{
    text-decoration: none;
}

.linkedin a:hover{   /*cambia de color cantactame aqui*/
    color: rgb(104, 7, 9);
}

/*-- pie de pagina*/
footer{
    
    background-color: #222;
    padding: 1.4rem;
    color:#fff;  
    text-align: center;
    
}



/*-- media queries pantalla mediana*/
@media (max-width:768px){
    #intro-servicios, #equipo{
        width: 90%;
    }

    .servicios-fila{
        width: 100%;
        text-align: center;
    }
    
}

/*-- pantallas pequeñas*/
@media(max-width: 576px){
    .iconos-servicios{
        flex-wrap: wrap;
        justify-content: center;
    }
}

/*-- galeria de imagenes*/

@media (max-width: 900px){
    .imagenes-galeria{
        flex-direction: column;
        align-items: center;
    }
    .alinear-imagenes{
        margin-bottom: 2px;
        
    }
}
